@font-face {
    font-family : "Arimo";
    src         : url("/assets/font/Arimo/Arimo-VariableFont_wght.ttf") format("truetype");
    font-weight : 100 900;
    font-style  : normal;
    font-display: swap;
}


@font-face {
    font-family : "Inter";
    src         : url("/assets/font/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight : 100 900;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("/assets/font/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight : 100 900;
    font-style  : italic;
    font-display: swap;
}


@font-face {
    font-family : "JetBrains Mono";
    src         : url("/assets/font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
    font-weight : 100 800;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family : "JetBrains Mono";
    src         : url("/assets/font/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight : 100 800;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family : "Josefin_Sans";
    src         : url("/assets/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight : 100 900;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family : "SN_Pro";
    src         : url("/assets/font/SN_Pro/SNPro-VariableFont_wght.ttf") format("truetype");
    font-weight : 100 900;
    font-style  : normal;
    font-display: swap;
}


@font-face {
    font-family : "Sono";
    src         : url("/assets/font/Sono/Sono-VariableFont_MONO,wght.ttf") format("truetype");
    font-weight : 100 900;
    font-style  : normal;
    font-display: swap;
}


:root {
    /* CSS variables to reference fonts across the app */
    --font-sans: "SN_Pro", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-sans);
}

pre,
code,
kbd,
samp {
    font-family: var(--font-mono);
}